.card {
  background-size: cover;
  background-position: center;
  height: 180px;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title-card {
  margin: 10px;
}

.description-card {
  position: absolute;
  font-weight: lighter;
  bottom: 0px;
  margin: 0;
  text-align: center;
  width: 100%;
  color: rgb(40, 40, 40);
  background-color: rgba(230, 230, 230, .8);
}
